/* ######## Global style ######## */
.cal-div{
    height: 200px;
}

/* header of content */
.content-header{
    margin: 20px auto;
}
.content-title{
    margin: 15px 35px;
    width: 250px;
    text-transform: uppercase;
    font-weight: bold;
}
.ajoute-btn{
    float: right;
    margin: 15px 35px;
    width: 250px;
    text-transform: uppercase;
    font-weight: bold;
}
.content-title, .ajoute-btn{
    display: inline-block;
}
.content-title span{
    display: block;
    height: 5px;
    width: 100px;
    background-color: rgba(0,0,0,.125);
}

/* filter */
.filter{

}
.filter .input-group select{
    margin: 0px 10px;
}
.filter .input-group .input-group-prepend span{
    padding: 10px;
}


/* ######## content of pages ######## */
/* home view */
.page-content{
    margin-top: 40px;
}
.dashboards .alert{
    margin: 5px;
    width: 265px;
}


/* ######## hidden left navbar ######## */
/* body */
.offcanvas-body  ul {
    margin-top: 30px;
}
.offcanvas-body  ul > li {
    padding : 20px;
}
.offcanvas-body  ul > li > a{
    color: #29292a;
    text-decoration: none;
}
.offcanvas-body  p{
    margin: 5px 23px;
}
.offcanvas-body  i{
    margin: 6px;
    border: 1px solid rgba(0,0,0,.125);
    padding: 5px;
}

/* footer */
.offcanvas-footer{
    margin: 0px 35px;
    border-top: 1px solid rgba(0,0,0,.125);
}

.left-sidebar-footer{
    margin: 25px auto;
}

.left-sidebar-footer a{
    color: #29292a;
    text-decoration: none;
    text-align: center;
}


/* ######## patient page style ######## */
.table-dark a{
    color: #878787e0;
    margin: 15px;
    text-decoration: none;
}